[submodule "mizuki"]
	path = mizuki
	url = https://github.com/yunluoxincheng/YunLuoBlog.git
[submodule "yunluoblog-server"]
	path = yunluoblog-server
	url = https://github.com/yunluoxincheng/yunluoblog-server.git
